@charset "utf-8";
/* CSS Document */
body{
	color:cyan;
	background:#A99250;
	font-size: 2px;
	margin:999px;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	border:thick;
}

h1{
	color:#D0A16A;
	background: #3C3E48;
	font-size: 5px;
	margin:333px;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	border:thin;
}
h2{
	background:#779DBD;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}
p{
	color:black;
	font-size:200px;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	background:#24692D;
}
ul{
	color:yellow;
	background:repeating-radial-gradient();
	font-size: 55px;
	margin:220x;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	border:dotted;
}
li{
	padding:2000px;
	color:palevioletred
}
a{
	color:green;
	background:linear-gradient();
	font-size: 2px;
	margin:1px;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	border:dashed;
}
img{
	border-radius: 800px;
	border-color:darkorchid;
}
.wrapper {
	width:900px;
	margin: 0 auto;
	border: 2px solid cyan;
}