@charset "utf-8";
/* CSS Document */

body{
    margin: 0;
    padding: 0;
    color: #2a2a2a;
    background: #5a5a5a;
    font-size: 20px;
    line-height: 1.5em;  /* adjust as needed */	
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
}

h1{
	color:#D0A16A;
}
h2{
	background:#779DBD;
}
p{
	color:#000000;
	font-stretch: 18px;
}

.wrapper {
	width:900px;
	padding: 36px;
	margin: 0 auto;
	border: 2px solid cyan;
	background: white;
}

a {
	color:#7B7515;
}
a:hover {
	color:#B800B9;
}

.sitenav {
     display: flex;
     flex-direction: row;
     justify-content: center;
     column-gap: 32px; 
	background: #363636;
}
nav.sitenav a{
	display: inline-flex;
	flex:1;
	justify-content: center;
	color:#F6A300;
	font-weight: bold;
	text-decoration: none;
	font-size: 110%;
	padding: 4px;
}
nav.sitenav a:hover{
	color:#00A1D8;
	font-weight: bold;
	text-decoration: none;
	font-size: 150%;
	padding: 4px;
	animation: mymove 2s;
	animation-fill-mode: forwards;
}
@keyframes mymove {
	0% {flex:1;}
  100% {flex:1.5;}
}

.pagenav a {
	text-decoration: none;
}
/* gallery grid CSS */
        
        div.gallery-grid {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-row-gap: 20px ;
            justify-items: center;
            align-items: start;
            justify-content: space-between;
			padding-left: 0px;
        }
                        
        div.gallery-item {
            width: 270px; /*should match the width of your images + width of border (if any) */
            text-align: center;
        } 
        
    /* css for styling the p/caption under the image */       
        div.gallery-item p {
            margin: .25em 0;
            line-height: 135%;
			font-size: 90%;
        }
table, td {
  border: 1px solid;
	border-spacing: 1px;
	width: auto;
	
}
th {
	border-block-end: 2px solid;
	background:#DAC296;
}
tr:nth-child(even) {background-color: #f2f2f2;}
